<h1 *ngIf="weather">The forcast for {{weather.city.name}} (pop.: {{weather.city.population | number}} ) is:
</h1>
<div *ngIf="weather">
  <mat-card>
    <mat-grid-list cols="6" rowHeight="4rem">
      <mat-grid-tile *ngFor="let day of weather.days">
        <h2>{{day.temperature | number:'1.0-0'}}c</h2>
        <img src="http://openweathermap.org/img/w/{{day.icon}}.png" title="{{day.description}}" />
        <p>{{day.time * 1000 | date: 'EEEE ha'}}</p>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>