<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <mat-form-field>
    <mat-select placeholder="Select a city" [formControl]="cityControl" (selectionChange)="onChange($event)">
      <mat-option>-- None --</mat-option>
      <mat-optgroup *ngFor="let country of countries" [label]="country.name"
                    [disabled]="country.disabled">
        <mat-option *ngFor="let city of country.cities" [value]="city.value">
          {{city.text}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <mjr-weather [location]="location"></mjr-weather>
</div>

<router-outlet></router-outlet>
